UseRoaming no

# Force github to use class key for the time being. 

HOST cims
  hostname access.cims.nyu.edu
  user conradbc
  identityfile /home/con/.ssh/id_rsa

# Wish these could be made more generic 
HOST dcos21
  hostname 10.128.9.83

HOST dcos*
  user root
  identityfile /Users/conrad/.ssh/id_rsa 
